<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.goldendays_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.setting.TransitionActivity1"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name=".ui.activity.TransitionActivity2"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name=".ui.activity.TransitionActivity3"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name=".ui.activity.SharedElementActivity"
            android:theme="@style/MaterialAnimations.Blue" />
        <activity
            android:name=".ui.activity.AnimationsActivity1"
            android:theme="@style/MaterialAnimations.Green" />
        <activity
            android:name=".ui.activity.AnimationsActivity2"
            android:theme="@style/MaterialAnimations.Green" />
        <activity
            android:name=".ui.activity.RevealActivity"
            android:theme="@style/MaterialAnimations.Yellow" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.activity.setting.SettingActivity" />
        <activity android:name=".ui.activity.MovieActivity" android:configChanges="orientation|keyboardHidden|screenSize"  />
        <activity android:name=".ui.activity.PdfActivity"></activity>
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:label="图库"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />

    </application>

</manifest>